.form-section {
  margin: 0 1.6rem;

  &--heading {
    margin-bottom: 3.2rem;
  }
}

.form {
  display: flex;
}

.form-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 2rem;

  &__container {
    display: flex;
    justify-content: space-between;

    &--heading {
      display: flex;
      flex-direction: column;
    }

    &--textarea {
      margin-top: 0.3rem;
      height: 7rem;
      width: 100%;
    }
  }
}

.form-info-button {
  &--input {
    width: 22.2rem;
    height: 5rem;
    border-radius: 5px;
    background-color: #0095ff;
    border-color: transparent;
    margin-top: 1.6rem;
  }
}

/* Comments starts here */
.feedback {
  display: flex;
  align-items: center;

  &__comment {
    margin-right: 2rem;

    &--back-img {
      width: 4.8rem;
      height: 4.8rem;
      background-color: silver;
      border-radius: 50%;
    }
  }

  &__heading {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  &__para {
    margin-bottom: 1rem;
  }
}

.form__logo {
  &--img {
    height: 4.8rem;
    width: 4.8rem;
    border-radius: 50%;
    margin-top: 1.5rem;
  }
}
