
.main-content{
    margin: 0 1.6rem;

    @media (min-width: 768px) {
        margin: 0 2.4rem;    
    }
}

.info-container{
    display: flex;
    flex-direction: column;
}

// title
.main-heading {
    margin-top: 3.2rem;
    margin-bottom: 1.6rem;
}

// author, likes, views, dates
.input-section{
        @media (min-width: 768px) {
            display: flex;
            justify-content: space-between;
        }
    &__title{
        display: flex;
        margin-bottom: 3.2rem;

        &--date{
            margin-left: .8rem;
        }
    }

    &__feedback{
        display: flex;
        margin-bottom: 2.4rem;

        &--loves{
            margin-left: 1rem;
        }
    }
}

.hero__para{
    // margin-top: 2.4rem;
    margin-bottom: 4rem;
    border-top: 1px solid silver;
    padding-top: 2.4rem;
    &--input{
        @media (min-width: 768px) {
            width: 75%;
        }
    }
}

//  form section

