.header {
  margin: 0 5%;
  height: 16.9rem;
  display: flex;
  flex-direction: column;
  @media (min-width: 768px) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 2.4rem;
    height: 8rem;
  }
  @media (min-width: 1200px) {
    max-width: 108rem;
    margin: 0 12.5%;
  }
}

.header__holder {
  @media (min-width: 768px) {
    display: flex;
    align-items: center;
    margin: 1.6rem 0;
  }
}

.logo {
  height: 4.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (min-width: 768px) {
    margin-right: 0;
  }
}

.box__search {
  height: 4.8rem;
  width: 28.8rem;

  @media (min-width: 768px) {
    width: auto;
  }
  @media (min-width: 1200px) {
    width: 30rem;
  }
}
.input {
  display: flex;
  // flex-direction: column;
  margin: 0.8rem 0 1.6rem 0;
  border-radius: 5px;

  @media (min-width: 768px) {
    margin: 0;
  }

  &__button {
    width: 22.2rem;
    height: 5rem;
    border-radius: 5px;
    background-color: #0095ff;
    border-color: transparent   ;
    @media (min-width: 768px) {
      margin-left: 2.4rem;
      width: 13rem;
    }
  }
  &__image {
    width: 4.8rem;
    height: 4.8rem;
    margin-left: 1.6rem;
    border-radius: 50%;

    @media (min-width: 768px) {
      margin-left: 2.4rem;
    }
  }
}
